.grid-container {
  display: grid;
  grid-template:
    'header header header header'
    'menu main main main'
    'menu  footer footer footer';
  grid-gap: 10px;
  padding: 10px;
}


.item1 { 
    grid-area: header; 
    background-color: #202020;
    height: 160px;
    
}


.pagetitle{
  font-family: 'PT Sans Narrow', sans-serif;
  color: #fff0db;
  font-size:50px;
  padding-left: 660px;
}

.pageundertitle{
  font-family: 'PT Sans Narrow', sans-serif;
  color: #fff0db;
  font-size:30px;
  padding-left: 730px;
}


.item2 { 
    grid-area: header-start/ menu-start/footer-end/menu-end;
    margin-left: 30px;
    background-color: #fff0db;
    margin-right: 10px;
    text-align: center;
}

.item2 > img {
  border-radius: 50%;
  width: 170px;
}

.item2 > p{
color: black;
font-family: 'PT Sans Narrow', sans-serif;
}

.contact{
  font-size: 15px;
}

.titletext{
  font-size: 15px;
  font-weight: bold;
}

.column {
  float: left;
  width: 33.33%;
  padding: 1px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.item3 { 
    grid-area: main;
    background-color: grey; 
}




.item4 { 
    grid-area: footer;
    background-color: grey;
}

